<!DOCTYPE html>
<html>
<head>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
</head>
<body>
<fieldset>
    <legend>파일 업로드</legend>
    <table>
        <form action="UploadService">
            <tr>
                <td>파일 : </td>
                <td><input type="file" value="파일 선택" name="file"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="업로드"/></td>
            </tr>
        </form>
    </table>
</fieldset>

</body>
</html>